-- AlterEnum
ALTER TYPE "Role" ADD VALUE 'PARENT';

-- AlterTable
ALTER TABLE "AIUsage" ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "ExamSession" ADD COLUMN     "questionsSnapshot" JSONB;

-- AlterTable
ALTER TABLE "Question" ADD COLUMN     "explanation" TEXT,
ADD COLUMN     "solution" TEXT;

-- AlterTable
ALTER TABLE "User" ADD COLUMN     "parentId" INTEGER;

-- CreateTable
CREATE TABLE "WrittenAnswer" (
    "id" SERIAL NOT NULL,
    "studentId" INTEGER NOT NULL,
    "questionId" INTEGER NOT NULL,
    "imagePath" TEXT NOT NULL,
    "isCorrect" BOOLEAN,
    "errorType" TEXT,
    "confidence" DOUBLE PRECISION,
    "recognizedAnswer" TEXT,
    "expectedAnswer" TEXT,
    "steps" JSONB,
    "explanation" TEXT,
    "suggestion" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "aiProvider" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WrittenAnswer_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "WrittenAnswer_studentId_idx" ON "WrittenAnswer"("studentId");

-- CreateIndex
CREATE INDEX "WrittenAnswer_questionId_idx" ON "WrittenAnswer"("questionId");

-- CreateIndex
CREATE INDEX "WrittenAnswer_createdAt_idx" ON "WrittenAnswer"("createdAt");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WrittenAnswer" ADD CONSTRAINT "WrittenAnswer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "Question"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WrittenAnswer" ADD CONSTRAINT "WrittenAnswer_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;


-- Render deployment verification
